@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Limbu&display=swap");

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .raise:hover,
  .raise:focus {
    /* @apply shadow-xl; */
    transform: translateY(-0.25em);
  }
  .raise {
    transition: transform ease 100ms;
  }
}

body {
  font-family: "Noto Sans Limbu", sans-serif;
}

.wallet > .connect {
  justify-content: start;
}
